
body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  margin: 0 auto;
}

.header {
  width: 100%;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: white;
    position: relative;
    z-index: 10;
  }

  .bottom {
    padding: 0 20px;

    background-color: #0abe5f;

    .menu {
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
  }

  .rightSide {
    display: flex;
    gap: 20px;

    .hamBlock {
      display: none;
      img{
        cursor: pointer;
      }
    }

    button {
      background-color: #ea675d;
      color: #ffffff;
      border-radius: 5px;
      padding: 0 15px;
      font-weight: 500;

    }
  }

}


.searchBlock {
  border-radius: 5px;
  display: flex;

  input {
    width: 75%;
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-weight: 500;

  }

  span {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0abe5f;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
  }


}

.buttons {
  font-weight: 500;
  color: white;

  ul {
    display: flex;
    align-items: center;

    li {
      padding: 15px 25px;
      cursor: pointer;
      display: inline-block;
      position: relative;
      line-height: 21px;
      text-align: left;

      //span:after {
      //  content: "🔽";
      //}

      &:hover {
        background-color: #1acc6d;

        ul.dropdown {
          visibility: visible; /* Display the dropdown */
          opacity: 1;

          li {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      ul {
        li {
          color: #d2d2d2;
        }
      }

      ul.dropdown {
        color: white;
        min-width: 100%; /* Set width of the dropdown */
        background-color: #20282b;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 999;
        left: 0;
        top: 52px;
        transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
        border-radius: 0 0 5px 5px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;


      }

    }
  }
}

.social {
  display: flex;
  gap: 20px;

  img {
    width: 25px;
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}


.sliderBlock {
  background-image: url("./assets/bg-30.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 60px;


  h1 {
    text-align: center;
    font-size: 48px;
    font-family: 'Roboto Slab', serif;
    color: white;
  }

  p {
    padding-top: 24px;
    font-size: 28px;
    text-align: center;
    color: #bec6c6;
    margin: 0 auto;
    max-width: 1080px;
    line-height: 40px;

    span {
      font-size: 28px;
      color: #39db7f;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: #bec6c6;
        text-decoration: underline;
      }
    }
  }
}


.slider {
  max-width: 1080px;
  margin: 50px auto;
  padding: 0 30px 50px;

  .splide__track {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .card {
    cursor: pointer;
    color: #333333;

    &:hover {
      .line {
        width: 25%;
        background: #39db7f;
      }

      box-shadow: 0 14px 46px rgb(0 0 0 / 0.1);
      transform: translateY(-5px);
      transition: .15s ease-in-out;
    }
  }
}

.card {
  overflow: hidden;
  border-radius: 10px;
  transition: .15s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;

    .rating {
      display: flex;
      justify-content: center;
      gap: 5px;

      img {
        width: 20px;
      }
    }

    .author {
      text-align: center;
      opacity: 0.75;
    }

    .title {
      font-size: 20px;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

    }
  }

  .line {
    background: #ddd;
    margin: 2px auto;
    width: 15%;
    height: 6px;
    border-radius: 3px;
    transition: 0.15s ease-in-out;
  }


}

.aboutBox {
  display: flex;
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1080px;
}

.aboutCard {
  padding: 20px;

  .title {
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
  }

  p {
    text-align: center;
    color: #666666;
    font-size: 18px;
    line-height: 1.6;
  }

  img {
    border-radius: 3px;
    width: 100%;
    margin-bottom: 20px;
  }
}

.ratedRecipes {
  background: #E7EBF0;
  padding-top: 80px;
  padding-bottom: 30px;

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
  }

  p {
    color: #7B858B;
    font-size: 24px;
    text-align: center;
  }


}

.widgetText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.greenBtn {
  margin-top: 24px;
  background-color: #0abe5f;
  color: white;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 3px;
  font-size: 19px;
  line-height: 16px;

}

.recipesGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;

  .card {
    width: 33%;
    min-width: 33%;
    height: 100%;
    padding: 10px;
    overflow: inherit;


    .innerCard {
      position: relative;
      transition: .15s ease-in-out;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        .line {
          width: 25%;
          background: #39db7f;
        }

        box-shadow: 0 15px 30px rgb(0 0 0 / 0.2);
        transform: translateY(-5px);
        transition: .15s ease-in-out;
      }
    }
  }
}

.widget {
  position: relative;
  background: url("./assets/bg2.jpg") no-repeat fixed center;
  background-size: cover;
  padding: 100px 0;
  color: white;

  .text {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    text-align: center;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 1080px;

    h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 48px;
      margin-bottom: 16px;
    }

    p {
      font-size: 24px;
    }
  }

  .gradient {
    top: 0;
    left: 0;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  }

}


.footer {
  background: #22282b;

  img {
    width: 100%;
  }
}

.infoBlock {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  line-height: 1.6;

  .greenBtn {
    font-size: 15px;
    padding: 12px 18px;
  }
}


.premium, .recent, .plugin {
  width: 33%;
  padding: 20px;

  img {
    margin-bottom: 20px;
    width: 200px;
  }
}

.premium {
}

.recent {
}

.plugin {
  .greenBtn {
    background: #ffad11;
  }
}

.bottomFooter {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  color: #959da5;

  .social {
    display: flex;
    gap: 20px;

    img {
      width: 25px;
      opacity: 0.5;
      transition: opacity 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.favBtn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 15px;
  padding: 6px 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 18px;
    height: 16px;
  }
}


.recipeContent {
  max-width: 1080px;
  margin: 0 auto;
  //padding-right: 360px;
  padding: 0 25px;
}

.titleBlock {
  background: url("./assets/bg2.jpg") no-repeat fixed center;
  position: relative;
  width: 100%;
  background-size: cover;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;


  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    line-height: 3.5rem;
    max-width: 1080px;
    color: white;
    text-align: center;
  }
}

.recipeHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.rightSide {
  display: flex;
  gap: 20px;

  .recipeAuthor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 50%;
      width: 40px;
      margin-right: 10px;
    }
  }


  ul {
    li:first-child {
      font-size: 12px;
      font-weight: 600;
    }

    li:last-child {
      font-size: 16px;
      color: #0abe5f;
    }
  }
}

.leftSide {
  display: flex;
  gap: 20px;

  .rating {
    p {
      font-weight: 600;
      font-size: 12px;
    }

    ul {
      display: flex;
    }
  }
}

.shortInfo {
  p {
    color: #7b858b;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 32px;
  }

  img {
    margin-bottom: 32px;
    width: 100%;
  }
}

.shareBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;

    li {
      border: 2px solid #e1e1e1;
      border-radius: 5px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      gap: 5px;
      cursor: pointer;
      transition: 0.15s ease-in-out;

      span {
        font-size: 14.5px;
        font-weight: 600;
        color: #a2a2a2;
      }

      &:first-child {
        margin-left: 20px;
      }

      &:hover {
        background: #3b5998;
        border: 2px solid #3b5998;

        span {
          color: white;
        }

        svg {
          fill: white;
        }

        transition: 0.15s ease-in-out;
      }

    }
  }

  .grayLine {
    background: #ddd;
    width: 12%;
    height: 2px;
    border-radius: 5px;
  }
}

.timeBlock {
  padding: 20px 0;

  img {
    width: 40px;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 600;

  }

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      display: flex;

      p {
        margin: 0;
      }

      img {
        margin: 0 16px 0 0;
      }

      p:first-child {
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
      }

      p:last-child {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;

      }

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.ingredients {
  margin-bottom: 20px;

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  ul {
    color: #333333;
    font-size: 16px;

    li {
      margin-top: 8px;

      input {
        margin-right: 5px;

        &:checked + span {
          opacity: 0.5;
          text-decoration: line-through;
        }
      }
    }

    //li.active {
    //  text-decoration: line-through;
    //  opacity: 0.5;
    //}

  }
}


.instructions {
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  margin-bottom: 50px;
}

.steps {
  color: #333333;


  ul {
    li {
      display: flex;
      line-height: 1.5em;
      font-size: 16px;
      margin-bottom: 10px;

      span {
        font-size: 24px;
        line-height: 1.5rem;
        font-weight: 800;
        padding-right: 20px;
        opacity: 0.35;
      }
    }
  }
}

.popular {

  position: sticky;
  top: 50px;
  right: 270px;
  float: right;


  .popularCard {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
      border-radius: 3px;
      width: 48px;
      height: 48px;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 19px;
    margin-bottom: 20px;
    margin-top: 50px;
  }

  ul {
    li:first-child {
      font-size: 16px;
      color: #0abe5f;
      font-weight: 600;
      margin-bottom: 5px;
    }

    li:last-child {
      opacity: 0.75;

      span {
        font-weight: 600;
      }
    }
  }
}


@media (max-width: 760px) {

  .header {
    .rightSide {
      .hamBlock {
        display: initial;
      }
    }
  }


  .header {
    position: relative;
    .bottom {
      width: 100%;
      position: absolute;
      padding: 0;
      background: white;
      transform: translateY(-100%);
      visibility: hidden;
      transition: transform 0.15s ease-in-out, visibility 0.15s ease-in-out;

    }
    .bottom.visible{
      visibility: visible;
      transform: translateY(0);
    }
  }


  .menu {
    .social {
      display: none;
    }

    .buttons {
      width: 100%;

      ul {
        width: 100%;
        flex-direction: column;

        li {
          width: 100%;
          text-align: center;
          color: #0abe5f;
          font-weight: 600;
          font-size: 17px;
          border-bottom: 1px solid #ededed;

          ul {
            display: none;
          }

          &:hover {
            background-color: initial;
            color: #04723f;

          }
        }
      }
    }
  }
}